@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Welcome to our website! We're thrilled to have you here, but let’s be honest – we take no responsibility for anything. 😅</p>

<p>Your data is super important to us... so important that we try not to collect it. If we do happen to gather anything, we promise to probably not use it.</p>

<p>If something goes wrong – it’s definitely not our fault. Maybe the Internet had a bad day, or your cat walked across the keyboard? Either way, we hope you’ll forgive us. 🙃</p>

<p>On a serious note, by using our site, you’re accepting our carefree approach to responsibility. Have a great day!</p>